/* @import url("https://fonts.googleapis.com/css?family=Press+Start+2p"); */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");
:root {
  --clr-white: #ffffff;
  --clr-black: #202020;
  --clr-grey: #7a7979;
  --clr-blue: #6c63ff;
  --clr-blue-2: #4c46b6;
  --clr-pink: #d6517d;
  --clr-pink-2: #cb3b6b;
  --clr-black: #000000;
}
.App {
  text-align: center;
  font-family: "Press Start 2P", "VT323";
  color: white;
  z-index: 1;
}
/* .press-start-2p-regular {
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
} */
* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.overlay {
  /* opacity: 0.85; */
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  position: fixed;
  /* pointer-events: none; */
}
.moving-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url("./picture/Falling\ words.jpeg"); */
  background-image: url("./picture/blackground.png");
  /* background-image: url("./picture/Falling\ words.gif"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}
.pink_button {
  background-color: #d6517d;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 15px;
  margin: 0 15px;
}

.logo-Address {
  width: 20px;
  height: 20px;
}
.home button {
  background-color: #d6517d;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 1px var(--clr-black);
  color: white;
  cursor: pointer;
  font-family: inherit;
  padding: 15px;
  margin: 0 15px;
}
.home_welcometitle {
  margin: 20px;
  font-size: 40px;
  text-shadow: 0 5px #000000;
}

.run-Dao button {
  background-color: var(--clr-pink);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 15px;
  margin: 30px;
}

.run-Dao button:hover {
  background-color: var(--clr-pink-2);
  box-shadow: 1px 1px 5px var(--clr-grey);
}

.run-Dao input {
  font-family: inherit;
  width: 190px;
  height: 43px;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  margin: 0 15px;
}

.mintpage button {
  background-color: #d6517d;
  border-radius: 5px;
  box-sizing: 0px 2px 2px 1px var(--clr-black);
  color: white;
  cursor: pointer;
  font-size: inherit;
  padding: 10px;
  margin: 0 15px;
}
.mintpage input {
  font-family: inherit;
  width: 230px;
  height: 30px;
  text-align: center;
  padding: 18px;
  margin: 10px;
}

/* Home NFT 信息 */
/* --------------- */
/* properties-container 是外层容器 */ /* properties-container 是外层容器 */
.properties-container {
  width: 100%;
  height: auto; /* 设置固定高度 */
  box-sizing: border-box;
  overflow-y: auto; /* 启用垂直滚动 */
}

.title {
  font-size: 1.8rem;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 40px;
  justify-content: flex-start; /* 确保卡片从左到右排列 */
  justify-content: center; /* 确保卡片在水平方向居中 */
  align-items: center; /* 确保卡片在垂直方向居中 */
}

.card-wrapper {
  flex: 1 1 350px; /* 每个卡片最小宽度为 350px，且可以根据屏幕大小调整 */
  max-width: 400px;
  display: flex;
  flex-direction: column; /* 设置子项垂直排列 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  box-sizing: border-box; /* 防止 padding 影响布局 */
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 80%;
  height: 85%;
  text-align: center;
  display: flex;
  overflow: hidden;
  flex-direction: column; /* 设置子项垂直排列 */
}

.card:hover {
  transform: translateY(-10px); /* 卡片悬浮效果 */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

/* 固定 card-title 高度为 50px */
.card-title {
  color: #202020;
  height: 30px; /* 固定高度 */
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
}

.card-image {
  width: 100%;
  height: 100%; /* 固定高度为100% */
  padding: 20px;
  flex-grow: 1; /* 使 .card-image 占据剩余空间 */
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center; /* 使用 flexbox 居中图片 */
  overflow: hidden; /* 防止溢出 */
}

.card-image img {
  width: auto; /* 图片宽度根据内容大小变化 */
  height: 100%; /* 高度填充为100% */
  object-fit: contain; /* 保持比例，容器填充 */
  border-radius: 8px;
}
.card-detail {
  background-color: #f9aeae;
  width: 95%;
  margin: 10px;
  padding: 10px;

  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  display: flex;
  overflow: hidden;
  flex-direction: column; /* 设置子项垂直排列 */
}
.card-detail p {
  margin: 5px;
}
/* 响应式布局 */
@media (max-width: 768px) {
  .cards-container {
    justify-content: center;
  }

  .card-wrapper {
    flex: 1 1 100%; /* 在小屏设备上，卡片占满整个宽度 */
  }
}
/* ----------------- */
/* ------------------------------------------------------ */
/* -- NFT Card Detail -- */

.nft {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.nft__details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  align-items: center;
  width: 80%;
  height: 70%;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--clr-white);
  overflow: hidden;
  flex-direction: column; /* 设置子项垂直排列 */
}

.nft__image {
  max-width: 500px;
  padding: 15px;
}

.nft__image img {
  max-width: 100%;
}

.nft__close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #7a7979;
}

.nft__close img {
  width: 25px;
  height: 25px;
}

.nft__overview {
  height: 100%;
  font-size: 15px;
  color: #626161;
  margin: 0 20px;
  overflow-y: scroll;
}
.nft_overview_input {
  font-family: inherit;
  width: 200px;
  height: 43px;
  font-size: 13px;
  text-align: center;
  padding: 10px;
  margin: 0 15px;
  border: 1px solid #c4c4c4; /* 灰色边框 */
  border-radius: 8px; /* 调整弧度，可以根据需要修改 */
}
.nft__overview h1 {
  font-size: 30px;
  color: #000000;
}

.nft__overview h2 {
  font-size: 20px;
  color: #000000;
}

.nft__overview ul {
  list-style-type: disc; /* 设置圆点样式，可以是 disc, circle, square 等 */
  padding-left: 20px; /* 确保列表项缩进，圆点位于正确的位置 */
  margin: 20px;
  margin-top: 30px;
}

.nft__overview ul li {
  margin: 20px 0; /* 仅调整上下间距，避免自动居中 */
  text-align: left; /* 强制文本靠左对齐 */
}
.nft__overview h1,
.nft__overview h2,
.nft__overview hr {
  margin: 20px auto;
}
